.route-title-container {
    display: flex;
    border-bottom: 1px dashed #777;
    color: #04a2df;
    justify-content: space-between;
    font-size: 36px;
    align-items: flex-end;
    h2{
      margin: 0;
    }
    .route-icon {
      margin-bottom: 5px;
      width: 38px;
      height: 38px;
      fill: #04a2df;
    }
  }