.about-info-container {
  width: 60%;
  p {
    text-align: justify;
  }
}
.skills-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .skills-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;

    .skill-level-container {
      display: grid;
      grid-template-rows: 50px auto;
      border-right: 1px dashed white;
      &:last-of-type {
        border-right: none;
      }
      .level-title {
        text-align: center;
      }
      .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
